<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>Moviesualization</h1>
  <p>Entry for the Interactive App for 'Hollywood Budgets' Challenge from <a href='http://www.informationisbeautifulawards.com/2012/01/challenge-of-the-stars/' target="_blank">InformationIsBeautifulAwards.com</a></p>
  <ul class="thumbnails">
    <li class="span4">
      <a href="/films" class="thumbnail">
        <%= image_tag('screenshot.png', :style => 'float:center;') %>
      </a>
    </li>
  </ul>
  
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span4">
    <h2>Questions/Answers</h2>
     <p>How does film profit based on stories?</p>
     <p>How does critics rank specific stories?</p>
     <p>Which stories have higher budget?</p>
     <p>Data Sources: <a href='https://docs.google.com/spreadsheet/ccc?key=0Altk3Tn01ZsWdEJ1cHFjbmVyejhnN1JnQlNyWW5IUkE&authkey=CPuZiLcG#gid=29'>Raw Budget data</a> | <a href='http://infobawards.s3.amazonaws.com/hollywood_plots.pdf'>Story Colors</a></p>
  </div>
  <div class="span4">
    <h2>Built Using</h2>
     <p><a href='http://processingjs.org/'>Processing.js</a> + <a href='http://coffeescript.org/'>CoffeeScript</a></p>
     <p><a href='http://twitter.github.com/'>Twitter Bootstrap 2.0</a></p>
     <p><a href='http://rubyonrails.org/'>Rails 3.1.1</a></p>
 </div>
  <div class="span4">
    <h2>Built by</h2>
    <p>Github: <a href='https://github.com/nandayadav'>nandayadav</a>
    <p><a href="https://twitter.com/nandayadav" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="large">Follow @nandayadav</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>
  </div>
</div>

<hr>

<footer>
  <p>&copy; Nanda Yadav</p>
</footer>
  