<div style='float:center;' >
  <a href="#" id="film-popover" rel="popover" title="Film Details" data-content="content">.</a>
</div>
<canvas id="processing"></canvas>
<%#= render :partial => 'films/film_modal' %>
