<div class="row-fluid">
  <div class="span12">
    <div class="content">
      <div class="page-header">
        <%= render :partial => 'layouts/control_panel' %>
        <%#= render :partial => 'layouts/side_panel' %>
      </div>
      <div class="row">
        <div class="span8">
          <canvas id="processing"></canvas>
        </div>
        <div class="span3 well">
          <a href="#" id="film-popover" rel="popover" title="Film Details" data-content="content">.</a>
          <h2>Instructions</h2>
          <p>Each Sphere represents a film</p>
          <p>Sphere size represents tomato score</p>  
          <p>Filter on films from specific stories using story buttons</p>
          <p>In films display, average profit and budget lines are shown for that year</p>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <p>&copy; Nanda Yadav</p>
  </footer>



<%#= render :partial => 'films/film_modal' %>
