<% @stories.each_with_index do |story, index| %>
  <!-- <button class="btn common" style="<%#= common_button(story.color || '4052A3') %>"><%= story.name %></button>&nbsp; -->
  <button class="btn"><%= story.name %></button>&nbsp;
<% end %>
