<% @stories.in_groups_of(9).each do |stories| %>
  <div class="btn-group" style="padding: 2px;">
  <% stories.compact.each_with_index do |story, index| %>
      <button class="btn"><%= story.name %></button>
    <!-- <button class="btn common" style="<%#= common_btn(story.color || '57a957', story.gradient || '62c462') %>"><%= story.name %></button>&nbsp; -->

    <!-- <button class="btn"><%= story.name %></button>&nbsp; -->
  <% end %>
  </div>
<% end %>